
.icon {
    margin-right: 10px;
    height: 20px;
    display: inline-block;
    vertical-align: middle;
}

.text {
    color: #aab4c6;
    text-transform: capitalize;
    display: inline-block;
    vertical-align: middle;
}