.listcontainer {
    box-shadow: 0 0 5px #aab4c6;
}

.listcontainer thead {
    background-color: #f1f1f4;
}

.listcontainer table {
    border-spacing: 0px;
}

.listcontainer th {
    /* font-weight: 700; */
    text-transform: uppercase;
    /* font-size: 18px; */
    padding: 10px 20px;
    background-color: #f1f1f4;
    border: none;
    text-align: left;
    font-size: 12px;
}

.listcontainer tbody td {
    padding: 10px 50px 20px 20px;
}


