.action {
    display: flex;
    margin-right: 28px;
    vertical-align: middle;
}

/* .listcontainer .action .actioncell td {
    padding: 20px 0;
    background: #fff;
    border: none;
    border-bottom: 1px solid #f5f5f5;
} */

/* .listcontainer .action .actioncell img,
.listcontainer .action .actioncell span {
    display: inline-block;
    vertical-align: middle;
} */

.icon{
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
    height: 20px;
}

.margin{
    display: inline-block;
    vertical-align: middle;
    color: #aab4c6;
    cursor: pointer;
    text-transform: capitalize;
    margin-right: 50px;
}