.nav {
    margin-bottom: 30px;
    border-bottom: 1px solid #8080803b;
}

.listcontainer {
    box-shadow: 0 0 5px #aab4c6;
}

.listcontainer thead {
    background-color: #f1f1f4;
}

.listcontainer th {
    font-weight: 700;
    text-transform: uppercase;
    font-size: 18px;
    padding: 10px 20px;
    background-color: #f1f1f4;
    border: none;
}

.listcontainer .action .actioncell {
    display: inline-block;
    margin-right: 28px;
    vertical-align: middle;
}

.listcontainer .action .actioncell td {
    padding: 20px 0;
    background: #fff;
    border: none;
    border-bottom: 1px solid #f5f5f5;
}

.listcontainer .action .actioncell img,
.listcontainer .action .actioncell span {
    display: inline-block;
    vertical-align: middle;
}

.listcontainer .action .actioncell img {
    margin-right: 10px;
}

.listcontainer .action .actioncell span {
    color: #aab4c6;
    font-weight: 400;
    font-size: 16px;
    text-transform: capitalize;
}

.listcontainer .viewsection img,
.listcontainer .viewsection span {
    display: inline-block;
    vertical-align: middle;
}

.listcontainer .viewsection img {
    margin-right: 10px;
}

.listcontainer .viewsection span {
    color: #aab4c6;
    font-weight: 400;
    font-size: 16px;
    text-transform: capitalize;
}

.listcontainer .date h5 {
    margin: 0 0 10px;
    font-weight: 700;
    font-size: 18px;
    color: #aab4c6;
}

.listcontainer .date i {
    font-style: italic;
    font-size: 14px;
    font-weight: 400;
    color: #aab4c6;
}

.listcontainer .campaign figure {
    display: inline-block;
    vertical-align: top;
    margin: 0 15px 0 0;
    width: 75px;
    height: 75px;
}

.listcontainer .campaign figure img {
    width: 100%;
    height: 100%;
}

.listcontainer .campaign .campaigninfo {
    width: calc(100% - 100px);
    vertical-align: top;
    display: inline-block;
}

.listcontainer .campaign .campaigninfo h6 {
    font-weight: 700;
    font-size: 20px;
    color: #aab4c6;
    margin: 0 0 10px;
}

.listcontainer .campaign .campaigninfo i {
    font-style: italic;
    font-size: 14px;
    font-weight: 400;
    color: #aab4c6;
}
